body{
    text-align: center;
    background-color: #011f3f;
}
#title{
    color: #fef2bf;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* @media only screen and (max-width: 768px) {
    #title{
        font-size: 1.5rem;
    }
    .btn{
        margin: 0rem;
    }
} */
.red{
    background-color: #ff0000;
}
.blue{
    background-color: #0000ff;
}
.green{
    background-color: #008000;
}
.yellow{
    background-color: #ffff00;
}
.btn{
    width: 10rem;
    height: 10rem;
    border: 10px solid black;
    border-radius: 20%;
    margin: 0.5rem;
    display: inline-block;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }